@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Gloria+Hallelujah|Indie+Flower|Oswald|Rock+Salt|Ubuntu|Raleway');


* {
	box-sizing: border-box;
	text-align: center;
}

.center {
	margin: auto;
	width: 50%;
	
}

#questM {
	font-size: 475px;
	font-family: "Amatic SC";
	margin: 0 auto;
	height: 450px;
	line-height: 0.9em;
}

.h1 {
	margin: 0px;
	margin-bottom: 10px;
	font-size: 35px;
	font-family: "Raleway";
	font-weight: bolder;
	word-spacing: 0.1em;
}

.container {
	margin: 0px;
	width: 100%;
}
header {
	height: 525px;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.btn-lg {
	height: 100px;
	width: 300px;
	font-size: 65px;
	background-color: #222;
	color: white;
	font-family: "Ubuntu";
	letter-spacing: 0.2em;
	border: 3px solid orange;
	padding: 0px;
}

#quiz {
	height: 500px;
	width: 900px;
	margin: 0 auto;
}

ul.pager li a {
	color: #222;
	border-color: #222;
}

#player {

}

.adoptee-info{
	clear:both;
	width:200px;
	padding:5px;
	height:235px;
	outline: 2px solid black;
	margin:10px;
	background-color: white;

}

#adoptees{
	/*background-color: #d9e4f4;*/
	background: url("../images/blu_stripes.png");
}

.adoptee-image {
	width: 120px;
	height: 120px;
	margin-top: 10px;


}

#adoptee-name, #adoptee-gender {
	clear:both;
	line-height:5px;


}
img {
	max-width: 100%;
	max-height: 100%;
}

.adoptees {
	margin-left: 10px;

}

.btn-petfinder {
	border-radius: 0px;
}
.btn-select {
	margin: 5px;
}
#icon {
	width:25px;
	height:25px;
}