@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Gloria+Hallelujah|Indie+Flower|Oswald|Rock+Salt|Ubuntu|Raleway');


* {
	box-sizing: border-box;
	text-align: center;
}

#opening-row {
	background: linear-gradient(rgba(255, 178, 122, 0.85), rgba(95, 96, 101, 0.85)),
               rgba(0,0,0,0.15) url('https://upload.wikimedia.org/wikipedia/commons/2/25/Strongheart-Trimble-American-Boy.jpg') no-repeat center;
    background-size: cover;
/*	background-color: #FFB27A;*/
	padding: 0px;
	margin: 0px;
}

.center {
	margin: auto;
	width: 50%;
	
}

#questM {
	font-size: 475px;
	font-family: "Amatic SC";
	margin: 0 auto;
	height: 450px;
	line-height: 0.9em;
	color: #FFF;
}

.h1 {
	margin: 0px;
	margin-bottom: 10px;
	font-size: 38px;
	font-family: "Raleway";
	word-spacing: 0.1em;
	color: #FFF;
	animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#start-div {
	height: 300px;
}

.btn:hover {
	background: #FFB27A;

}


/*using these conditions to center things*/
.container {
	margin: 0px;
	width: 100%;
}

header {
	height: 525px;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.btn-lg {
	height: 100px;
	width: 300px;
	font-size: 65px;
	background-color: #5f6065;
	color: white;
	font-family: "Ubuntu";
	letter-spacing: 0.2em;
	border: 3px solid #FFB27A;
	padding: 0px;
}

#blank-space {
	height: 500px;
}

#quiz-row {
	background: linear-gradient(rgba(95, 96, 101, 0.85), rgba(255, 178, 122, 0.85)),
               rgba(0,0,0,0.15) url('../images/leash.jpg') no-repeat center;
    background-size: cover;
    height: 800px;
}

#space-quiz {
	height: 200px;
}

#quiz {
	height: 300px;
	width: 770px;
	margin: 0 auto;
	border-radius: 25px;
	background: rgba(253, 253, 253, .85);
	border: 1px solid #333


}

.Question {
	height: 300px;
}

.cls15 {
	height: 300px;
}

label {
	font-size: 25px;
	word-spacing: 0.1em;
	padding: 5px;
	font-family: "Ubuntu";
	color: #5F5056;
	font-weight: normal;
}

form p {
    margin-bottom: 10px;
    text-align: center;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #FFB27A;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #FFB27A;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #FFB27A;
}


.h2 {
	font-size: 28px;
	word-spacing: 0.1em;
	font-family: "Raleway";
	background-color: #FFB27A;
	color: white;
	margin-bottom: 0px;
	border-radius: 25px;
}


p {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
}

/*educational note: in bootstrap, ul. + li a needed to be added here to access the ability to change the font color of the pager buttons*/
ul.pager li a {
	color: #222;
	border-color: #222;
}

.help {
	font-size: 25px;
	font-family: "Ubuntu";
	color: #000;
}


.glyphicon-question-sign:hover {
	color: #FFB27A;
	cursor: pointer;
}

.glyphicon-question-sign {
	color: #FAFAFA;
	font-size: 20px;
}


#enter-zip  {
	font-size: 18px;
	letter-spacing: 0.2em;
	color: #FDFDFD;
}

#zipcode {
	color: #FDFDFD;
}

#show-match, #retake {
	font-size: 45px;
/*	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);*/
	background-color: #333;
	color: white;
	font-family: "Ubuntu";
	letter-spacing: 0.1em;
	border: 3px solid #FFB27A;
	padding: 0px;
	height: 175px;
	width: 400px;
	word-wrap: break-word
}

.glyphicon-info-sign:hover {
	color: #FFB27A;
	cursor: pointer;
}

.glyphicon-info-sign {
	color: #5F6065;
	font-size: 20px;
}

#cant-see:hover {
	color: #FFB27A;
	font-weight: bold;
	font-style: none;
	cursor: pointer;
}

#cant-see {
	float: right;
	font-family: "Ubuntu";
}

#blank-space2 {
	height: 500px;
}

#results {
	list-style: none;
	padding-top: 160px;
	background: url(../images/heart.png) no-repeat center;
	height: 575px;	
}

#printedResults {
	margin-top: 20px;
}

.panel {
	font-family: "Ubuntu";
	color: #5F6065;
}



.adoptee-info{
	clear:both;
	font-family: "Ubuntu";
	width:200px;
	padding:5px;
	height:235px;
	outline: 2px solid #5F6065;
	margin:10px;
	background-color: #FDFDFD;

}

#adoptees{
	background: linear-gradient(rgba(100, 96, 102, 0.35), rgba(95, 96, 101, 0.35)),
               rgba(0,0,0,0.75) url('../images/blu_stripes.png');
/*	background: url("../images/blu_stripes.png");*/
}

.adoptee-image {
	width: 120px;
	height: 120px;
	margin-top: 10px;
}

#adoptee-name, #adoptee-gender {
	clear:both;
	line-height:5px;
}
img {
	max-width: 100%;
	max-height: 100%;
}


.btn-petfinder, .panel {
	border-radius: 0px;
}

.btn-petfinder {
	background-color:#66bb6a;
}
.btn-select {
	font-family: "Ubuntu";
	margin: 5px;
	min-width: 200px;
	background-color:#66bb6a;
}
#icon {
	width:25px;
	height:25px;
}
/*#shelters {
	float:right;
}*/

#shelter-list {
	overflow:scroll;
	height:350px;
}